# 1. Секреты и API-ключи (САМОЕ ВАЖНОЕ!)
.env
keys.txt

# 2. База данных
# Мы не пушим локальную базу, чтобы не затереть данные у других разработчиков
worktime.db
worktime_sync.db
*.db
*.sqlite
*.sqlite3

# 3. Виртуальное окружение Python (оно весит много и у каждого свое)
venv/
env/
.venv/

# 4. Кэш Python и системные файлы
__pycache__/
*.pyc
.DS_Store